@font-face {
  font-family: "Ciutadella Bold";
  src: url("../fonts/CiutadellaBold.otf");
}

@font-face {
  font-family: "Ciutadella Light";
  src: url("../fonts/CiutadellaLight.otf");
}
@font-face {
  font-family: "Ciutadella Regular";
  src: url("../fonts/CiutadellaRegular.otf");
}
@font-face {
  font-family: "Ciutadella SemiBold";
  src: url("../fonts/CiutadellaSemiBold.otf");
}

.font-cBol {
  font-family: "Ciutadella Bold";
}

.font-cLight {
  font-family: "Ciutadella Light";
}

.font-cRegular {
  font-family: "Ciutadella Regular";
}
.font-cSemiBold {
  font-family: "Ciutadella SemiBold";
}

.list-style {
  list-style: none;
  padding: 0;
  text-align: center;
}

html,
body {
  height: 100%;
}
.navbar {
  background-color: #0e2449 !important;
}

.top-nav-collapse {
  background-color: #0e2449 !important;
}

.text-yellow {
  color: #fbc411;
}

.btn-empezar {
  background: #fbc411 !important;
}

.text-small {
  font-size: 14px;
}
.text-color-abaut {
  color: #275192 !important;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background: #0e2449 !important;
  }
}

.scrolling-navbar {
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.proyecto {
  background: url(../img/proyectos/reel.png) no-repeat top;
  background-size: 100% 100%;
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.bg-proyecto {
  background: #fbc411;
}

.bg-footer {
  background: #275192 !important;
}
.form-control {
  background-color: #3d629d !important;
  border: 1px solid #3d629d !important;
}

input::placeholder {
  color: white !important;
  font-family: "Ciutadella Light";
}
textarea::placeholder {
  color: white !important;
  font-family: "Ciutadella Light";
}

.btn-enviar {
  background: transparent !important;
  color: #fbc411 !important;
  border-radius: 10px;
  border: 2px solid #fbc411 !important;
}

.border-footer {
  border-top: 1px solid #3d629d !important;
}

.border-form {
  border-right: 1px solid #3d629d;
  padding-right: 50px;
}

.btn-ver-video {
  background: transparent !important;
  color: white !important;
  border-radius: 10px;
  border: 2px solid white !important;
}

.text-reel {
  color: #00fe00;
}

/* Carousel*/

.carousel {
  height: 100%;
}

@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
.pl-7 {
  padding-left: 7rem !important;
}

/*.title h2:after {
  content: "";
  background: #fbc411;
  height: 3px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: flex;
  margin-top: 12px;
}*/
.title-contacto h2:after {
  content: "";
  background: #fbc411;
  height: 3px;
  width: 90px;
  position: absolute;
  left: 3%;
  margin-left: 0px;
  display: flex;
  margin-top: 8px;
}
.title-proyecto h2:after {
  content: "";
  background: #275192;
  height: 3px;
  width: 90px;
  position: absolute;
  left: 23%;
  margin-left: 0px;
  display: flex;
  margin-top: 6px;
}
.rounded {
  border-radius: 3% !important;
}
.bottom-reset {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .border-form {
    padding-right: 0;
    border-right: none;
  }
  .data-title {
    font-size: 2.5rem;
  }
  .title-contacto h2:after {
    left: 36%;
  }
  .pl-7 {
    padding-left: 1rem !important;
  }
  .ver-video {
    padding-bottom: 5%;
  }

  .cd-timeline__date {
    padding-top: 2rem;
  }
  .cd-timeline__container::before {
    left: 36px !important;
  }
  .cd-timeline__block {
    margin-left: 1em !important;
  }
  .cd-timeline__content {
    margin-top: 3em !important;
    padding: 0em !important;
    margin-left: 0em !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pl-7 {
    padding-left: 2rem !important;
  }
  .title-proyecto2 > h2 {
    text-align: center !important;
  }
  .ver-video {
    text-align: center !important;
    padding-bottom: 5%;
  }
  .border-form {
    padding-right: 0;
    border-right: none;
  }

  .cd-timeline__block {
    margin-left: 1em !important;
  }
  .cd-timeline__date {
    padding-top: 2rem;
    text-align: center;
  }
  .cd-timeline__container::before {
  }
}
