/**utils**/

.u-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.u-subtitle h1 {
  font-size: 28px;
  font-family: "Muller Regular";
  margin: 0;
}

.u-descriptions p {
  font-family: "Muller Regular";
  font-size: 0.8em;
}

.u-title-small {
  background: var(--darkyellow);
  font-family: "Muller Bold";
  font-size: 16px;
  max-width: 200px;
  padding: 0.1em 0.3em;
  text-align: center;
  margin: auto;
}

.u-subtitle {
  padding: 1em 0em;
}

.u-content-padding {
  padding: 6em 1.5em 0;
}

.u-container {
  padding: 0em 1.5em;
}

/********************************/
.proyect {
  padding: 1em 0.5em;
}
.proyect-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-proyect-item {
  max-width: 324px;
  margin: auto;
  height: 324px;
  background: #e6e6e6;
  margin-bottom: 1em;
}
.content-proyect-description {
  max-width: 324px;
  margin: auto;
  font-size: 1.3em;
  font-family: "Muller Regular";
  padding: 0.5em 0em 1.5em;
}

/*********************/
.proyect-item-s {
  height: 100%;
  display: grid;
  align-content: end;
  padding: 0px 17px 20px;
}
.content-proyect-item-s {
  max-width: 242px;
  margin: auto;
  height: 322px;
  background: linear-gradient(#0d1935, #0f2751);
  margin-bottom: 1em;
}
.content-team-s {
  position: relative;
  overflow: hidden;
  width: 241px;
}

.content-team-s:hover .content-team-title-s {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.content-team-s .content-team-title-s {
  position: absolute;
  left: 0%;
  top: -100%;
  color: #fff;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.title-item-service {
  font-family: "Muller Regular";
  font-size: 20px;
  color: white;
  margin: 0;
}
.img-item-service {
  padding: 0px 0px 20px;
}

/*****************************************/

.container-digital-img {
  background: url(../../images/servicios/banner.png) no-repeat top;
  background-size: cover;
  height: 60vh;
}
.btn-contact-proyect {
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 1em 1.5em;
  font-family: "Muller Regular";
}

@media screen and (min-width: 520px) {
  .proyect-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media screen and (min-width: 768px) {
  .proyect-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-team {
    width: 100%;
  }
  .proyect {
    padding: 1em 3.5em 3em;
  }
  .u-container {
    padding: 0em 3.5em;
  }
  .content-proyect-item {
    max-width: 100%;
  }
  .u-title-small {
    text-align: left;
    margin: initial;
  }
}

@media screen and (min-width: 1024px) {
  .u-title-small {
    text-align: left;
    margin: initial;
  }
  .u-content-padding {
    padding: 8em 3.5em 1.5em;
  }
  .u-subtitle h1 {
    font-size: 81px;
  }
  .proyect-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
  .container-digital-img {
    height: 73vh;
  }
  .u-descriptions p {
    font-size: 21px;
  }
  .content-proyect-description {
    font-size: 29px;
  }
}
