/*******footer******/
.footer {
  padding: 4em 1.5em 0em;
}
.footer-logo {
  padding: 0em 0em 4em;
  text-align: center;
}
.footer-grid {
  padding: 0em 0em 2em;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.social-media img {
}
.footer-title {
  font-size: 13px;
  font-family: "Muller Regular";
  text-align: center;
}

.line-footer {
  height: 3vh;
  background: var(--dark);
  width: 100%;
}

.footer-padding {
  padding-top: 3em;
}
.content-derechos {
  display: grid;
  height: 100%;
  grid-template-rows: auto 0fr 0fr;
  align-items: end;
  text-align: right;
  padding-bottom: 1.2em;
  text-align: center;
}

.content-derechos p {
  margin: 0;
}
.line-yellow {
  height: 1vh;
  background: #f8c332;
  max-width: 100%;
  margin-bottom: 2em;
}
.footer-day {
  font-size: 1em;
  font-family: "Muller Bold Italic";
}
.footer-copyright {
  color: #999999;
  font-family: "Muller Light";
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
  .footer-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  .social-media {
    grid-template-columns: repeat(3, 14%);
    text-align: right;
    justify-content: end;
    align-items: center;
  }
  .footer-grid-secundary {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-title {
    text-align: left;
  }
  .content-derechos {
    text-align: right;
  }
  .line-yellow {
    max-width: 29px;
  }
}

@media screen and (min-width: 1024px) {
  .content-derechos {
    text-align: right;
  }
  .footer-title {
    text-align: left;
  }
  .line-yellow {
    max-width: 29px;
  }
  .footer {
    padding: 10em 0.5em 0em;
  }
  .footer-logo {
    padding: 0em 0em 6em;
    text-align: left;
  }
  .footer-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 0em 0em 4em;
  }
  .social-media {
    grid-template-columns: repeat(3, 14%);
    text-align: right;
    justify-content: end;
    align-items: center;
  }
  .footer-grid-secundary {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}
